@mixin customlevana {
  /* table style .bak */
  .table-tr-style-title-div div {
    color: #FFFFFF;
    text-align: center;
    background-color: #7088AD;
  }
  .table-tr-style-div {
    width: 100%;
    min-width: 400px;
    padding: 1px 2px 2px 1px;
  }
  .table-tr-style-div div {
    padding: 1px 2px 2px 1px;
    cursor: default;
    border: 1px solid transparent;
    border-right: 1px dotted silver;
    border-bottom-color: silver;
    float: left;
    list-style-type: none;
    text-align: center;
    line-height: 35px;
    width: 10%;
  }
  .table-tr-style-div .firstChild {
    width: 180px !important;
    height: 40px;
  }

  /* tab bar */
  .tabBarStyle div div {
    width: 24%;
  }
  .orderBtnArea div div {
    float: left;
    margin-left: 25px;
  }
  .FullscreenStyle {
    height: 700px;
  }
  .topTabBar-trade div div {
    width: 50%;
  }

  .message .x-mask-inner {
    background-color: Black;
    font-size: 0.9em;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    top: 10em;
  }
  .message .x-mask-inner .x-mask-message {
    line-height: 1.8em;
    padding: 0 0.3em;
    color: white;
  }
  .leftText-btn span.x-button-label {
    text-align: left;
  }

  div.custom-plugin-style div.inputPlugin {
    width: 50px;
    height: 39px;
    position: absolute;
    top: 0;
  }
  div.custom-plugin-style input.x-form-field {
    padding-left: 54px;;
  }
  div.inputPlugin::before {
    content: attr(data-content);
    background-image: url(resources/images/account.png);
  }
}